/* Cor do fundo */
body{
    background-image: linear-gradient(#7DB6D9, white);
    margin:0;
}

/* Menu */

#menu {
    width: 100%;
    background-color: white;
    height: 6em;
    display:flex;
    position: fixed;
}

ul{
    list-style-type: none;
    justify-content: center;
    margin-top: 40px;
    margin-left: 200px;
    overflow: hidden;
    position: fixed;
}

li{
    float: left;
}
li a{
    display: block;
    margin-left: 30px; 
    margin-right: 12px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #4483C1;
    transition: 0.5s ease-in-out;
    float: left;
}

li a img {
    margin-top: 3px;
    padding-left: -10px;
}

li a:hover{
    color: #4DEBE6;
    text-shadow: 0 0 5px #4DEBE6;
}

#seta-baixo{
    border: solid #4483C1;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Imagens */

 #logo{
    height: 6em;
    margin-left: 15%;
    transition: transform .3s ease-in-out;
 }
#logo:hover{
    transform: scale(0.95);
}

/* Caixa do formulário*/

#box-form{
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;

    width: 80%;
    background-color: white;
    height: 75%;
}

.text{
    width:35%;
    height: 90%;
    margin:0;
    margin-top: -22px;
    padding: 4%;
    background: rgb(35,29,221);
    background: linear-gradient(157deg, rgba(35,29,221,1) 0%, rgba(68,131,193,1) 35%, rgba(37,218,255,1) 100%);
    border-radius: 10px;
    float: left;
}

h1, p, a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.termos{
    font-size: 13px;
}
p a:hover{
    color: #4DEBE6;
    text-shadow: 0 0 5px #4DEBE6;
}

.logo-texto{
    margin-top: 25%;
}

/* Formulário*/

form{
    margin-top:20px;
    margin-left: -15px; 
}

fieldset{
    border-style: none;
}

input, select, textarea{
    margin: 10px;
    width: 45%;
    height: 8%;
    border-radius: 1px;
    color: gray;
    border-style: solid;
    border-width: thin;
    padding: 5px;
}

.setor, .cargo, .pesquisa{
    width: 45.2%;
}

.ajuda{
    width: 94.5%;
    height: 25%;
}


label{
    font-size: 0.6em;
    margin-left:30px;
    margin-top: -14px;
    position: relative;
    display:flex;
    color: gray;
}
.lgpd{
    margin:0;
    margin-left: -10px;
    width:10%;
    height: 4%;
    border-radius: 0px;
}
.lgpd:hover{
    cursor: pointer;
}

label a {
    color:blue;
    text-decoration: none;
}
.enviar{
    color:white;
    justify-content: center;
    padding:10px;
    background: rgb(221,152,29);
    background: linear-gradient(180deg, rgba(221,152,29,1) 0%, rgb(221, 160, 48) 0%, rgba(254,81,0,1) 100%);
    border-style: none;
    border-radius: 5px;
    width:95%;
    height: 8%;
    position: relative;
    display: flex;
    margin-left: 8px;
    margin-top: 15px;
    transition: transform .5s;
}
.enviar:hover{
    cursor: pointer;
    transform:scale(0.94);
}


/*responsividade*/

